@charset "UTF-8";
/* line 5, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 120, icon/*.png */
.icon-sprite, li:nth-of-type(1), li:nth-of-type(2) {
  background-image: url('../img/icon-sc13cfbdd69.png');
  background-repeat: no-repeat; }

/* line 12, ../sass/main.scss */
li {
  padding-left: 30px;
  height: 30px;
  background-color: blue;
  color: #FFF;
  padding-top: 20px; }

/* line 19, ../sass/main.scss */
li:nth-of-type(1) {
  background-position: 0 -28px; }

/* line 28, ../sass/main.scss */
li:nth-of-type(2) {
  background-position: 0 -168px;
  height: 20px;
  -moz-box-shadow: 1px 1px 4px 4px #CCC;
  -webkit-box-shadow: 1px 1px 4px 4px #CCC;
  box-shadow: 1px 1px 4px 4px #CCC; }

/* line 34, ../sass/main.scss */
a {
  color: red; }
  /* line 18, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #CCC; }
  /* line 21, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: green; }
  /* line 24, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: blue; }
  /* line 27, ../../../软件/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: yellow; }

/* line 38, ../sass/main.scss */
div {
  float: left;
  display: inline; }

/* line 41, ../sass/main.scss */
li:last-of-type {
  background-image: url('../img/1-150110111RK19.png?1476693918'); }
